auto-save-list/**
*~
*.elc
auto-save-list
server
straight/
*_flymake.*
/server/
.projectile
.dir-locals.el
.mc-lists.el
.org-id-locations
eshell/history
rime/
elpa/
var/
transient/
bookmarks
org-roam.db
recentf
.tags/
undo/
undo